html {
    background-color: hsl(180, 100%, 87%);
}
#page-container {
    /* The page-container goes around everything on the page, 
    and sets its minimum height to 100% of the viewport height (vh). */
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4.0rem;    /* Footer height */
}

#footer-text {
    padding: 0px 0px 0px 10px;
}

header {
    text-align: center;
    font-size: large;
    position: sticky;
    top: 0px;
    
}
.button {
    background-color:hsl(36, 83%, 75%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    font-weight: bold;
    padding:
    
}
.button:hover {
    background-color: hsl(36, 83%, 65%);
    transition: 0.2s;
    text-decoration: none;
    color: white;
}

h1, h2 {
    color: white;
    background-color: hsl(36, 83%, 75%);
    font-family: 'Pacifico', cursive;
}
footer {
    background-color:hsl(36, 83%, 75%);
    position: fixed;     /* absolute to scroll w/ page content*/
    bottom: 0;
    width: 99%;
    height: 4.0rem;            /* Footer height */
}
/*
.main {
    margin: auto;
}
#mainPhoto {
    float: left;
    padding-right: 20px;
}
*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 30px;
    border: 3px solid red;
    margin: auto;
    width: 70%;
}

