:root {
    --footer-height: 3.0rem;
    --footer-radius: 5px;
}

html {
    background-color: hsl(180, 100%, 87%);
}

#page-container {
    /* The page-container goes around everything on the page, 
    and sets its minimum height to 100% of the viewport height (vh). */
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: var(--footer-height);    /* Footer height */
}

#footer-text {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    border-radius: var(--footer-radius);
}

header {
    text-align: center;
    font-size: large;
    position: sticky;
    top: 0;
    
}

.button {
    background-color:hsl(36, 83%, 85%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    font-weight: bold;
}

.button:hover {
    background-color: hsl(36, 83%, 65%);
    transition: 0.2s;
    text-decoration: none;
    color: white;
}

h1, h2 {
    color: white;
    background-color: hsl(36, 83%, 85%);
    font-family: 'Pacifico', cursive;
}
footer {
    display: block;
    background-color:hsl(36, 83%, 85%);
    position: fixed;     /* absolute to scroll w/ page content*/
    bottom: 0;
    margin: auto;
    width: 98%;
    height: var(--footer-height);            /* Footer height */
    border-radius: var(--footer-radius);
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    padding: 10px;
    border: 3px solid transparent;
    margin: 50px auto;
    width: 80%;
    color: white;
    background-color: hsl(36, 83%, 85%);
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px #88888850;
}
.grid-item {
    /*background-color:hsl(180, 76%, 18%);*/
    width: 100%;
    color: black;
}

/* @media changes for mobile */

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        border: 3px solid red;
        margin: 50px auto;
        width: 80%;
        color: white;
        background-color: hsl(36, 83%, 85%);
        font-size: 16px;
        font-weight: bold;
        box-shadow: 5px 5px #88888850;
    }

    .button {
        float: none;
        width: 100%;
    }

    .grid-item {
        width: 100%;
        padding: 0px;
    }
}

